* {
  margin: 0 auto,
}

#dealerHand, #playerHand {
  height:  220px;
  width: 650px;
  border: black 10px solid;
  display: flex;
  margin: 25px 0 25px 0;
}

.board {
  width: auto;
  border: solid 1px #ddd;
  background: #039a37;
  border: solid 10px burlywood;
  height: 620px;
  border-radius: 20px;
  display: flex;
}
.btn {
  border:none;
  cursor:pointer;
  align-content: flex-start;
  display: flex;
  background:rgba(200, 200, 200, .4);
  color:greenyellow;
  border-radius:35px;
  padding: 20px;
  margin: 20px; 
}
.btn:focus {outline:0;}
.board:focus {outline:0}
.btn:hover {
  background: white; 
}
h3 {
  padding: 3px;
  background: black;
  color:white;
  font-size: 26px;
  border-radius: 50px;
  text-align: center;
}
.board .game-body {
padding: 15px;
margin-right: 85%;
display: flex;
align-items: flex-start;
}
.board .game-options {
text-align:center;
}
.board .status {
  display: inline-block;
  background: rgb(255, 0, 13);
  border: solid 5px white;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  margin-top: 10px;
  display: none;
}
.points {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  margin: 10px;
}

#game-controls { 
  width: 220px;
  height: 100%;
}

.play-space {
  flex: 1;
}